@font-face {
  font-family: "Bosch Sans Light";
  src: url("boschsans_light.eot");
  src: url("boschsans_light.eot?#iefix") format("embedded-opentype"),
    url("boschsans_light.woff") format("woff"),
    url("boschsans_light.woff2") format("woff2"),
    url("boschsans_light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bosch Sans Regular";
  src: url("boschsans_regular.eot");
  src: url("boschsans_regular.eot?#iefix") format("embedded-opentype"),
    url("boschsans_regular.woff") format("woff"),
    url("boschsans_regular.woff2") format("woff2"),
    url("boschsans_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bosch Sans Medium";
  src: url("boschsans_medium.eot");
  src: url("boschsans_medium.eot?#iefix") format("embedded-opentype"),
    url("boschsans_medium.woff") format("woff"),
    url("boschsans_medium.woff2") format("woff2"),
    url("boschsans_medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bosch Sans Bold";
  src: url("boschsans_bold.eot");
  src: url("boschsans_bold.eot?#iefix") format("embedded-opentype"),
    url("boschsans_bold.woff") format("woff"),
    url("boschsans_bold.woff2") format("woff2"),
    url("boschsans_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bosch Sans Icon";
  src: url("Bosch-Icon.eot");
  src: url("Bosch-Icon.eot?#iefix") format("embedded-opentype"),
    url("Bosch-Icon.woff") format("woff"),
    url("Bosch-Icon.woff2") format("woff2"),
    url("Bosch-Icon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
