.delete-org-dialog {

  .MuiDialogContent-root {
    display: flex;

    .display-name {
      margin: 0 6px;
      font-style: italic;
      font-weight: bold;
    }
  }

  .MuiDialogActions-root {
    display: flex;
    justify-content: center;

    .MuiButtonBase-root {
      width: 100px;
      margin: 0 .5rem;
    }
  }
}
