@import "src/assets/styles/Color";

.sync-dialog {
  position: relative;

  .close-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .MuiDialogContent-root {
    max-height: 75vh;

    .new-data {
      font-family: 'Bosch Sans Medium';
      color: $bosch-green-50;
    }

    .update-data {
      font-family: 'Bosch Sans Medium';
      color: $bosch-blue-50;
    }

    .delete-data {
      font-family: 'Bosch Sans Medium';
      color: $bosch-red-50;
    }

    .no-data {
      text-align: center;
      font-weight: 500;
      color: $bosch-gray-50;
    }
  }

  .MuiStepper-root {
    margin-bottom: 1rem;
  }

  .MuiDialogActions-root {
    display: flex;
    justify-content: center;

    .MuiButtonBase-root {
      width: 100px;
      margin: 0 .5rem;
    }
  }
}
