// GRAY
$bosch-gray-95: #EFF1F2;
$bosch-gray-90: #E0E2E5;
$bosch-gray-80: #C1C7CC;
$bosch-gray-60: #8A9097;
$bosch-gray-50: #71767C;
$bosch-gray-30: #43464A;
$bosch-gray-20: #2E3033;

// PURPLE
$bosch-purple-40: #9E2896;

// BLUE
$bosch-blue-90: #D1E4FF;
$bosch-blue-70: #56B0FF;
$bosch-blue-50: #007BC0;
$bosch-blue-40: #00629A;

// TURQUOISE
$bosch-turquoise-50: #18837E;

// GREEN
$bosch-green-50: #00884A;

// RED
$bosch-red-90: #FFD9D9;
$bosch-red-50: #ED0007;
$bosch-red-40: #BE0004;

// YELLOW
$bosch-yellow-90: #ffdf95;
